In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import time
import datetime

In [21]:
df = pd.read_csv("https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/module_4_ML/data/seattle_weather_1948-2017.csv")


basic = pd.DataFrame({'yesterday':[0.0],
                             'today':[0.0],
                             'tomorrow':[0.0],
                             'guess':[False],
                             'rain_tomorrow':[False],
                             'correct':[False]})

#sort columns for convience
seq = ['yesterday','today','tomorrow','guess','rain_tomorrow','correct']
basic = basic.reindex(columns=seq)

In [22]:
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [23]:
df[pd.isnull(df['PRCP'])]

             DATE  PRCP  TMAX  TMIN RAIN
18415  1998-06-02   NaN    72    52  NaN
18416  1998-06-03   NaN    66    51  NaN
21067  2005-09-05   NaN    70    52  NaN

In [24]:
def RAIN_INSERTION(cols):
    RAIN=cols[0]
    if pd.isnull(RAIN):
        return 'False'
    else:
        return RAIN
    
def PRCP_INSERTION(col):
    PRCP=col[0]
    if pd.isnull(PRCP):
        return df['PRCP'].mean()
    else:
        return PRCP

In [25]:
df['RAIN']=df[['RAIN']].apply(RAIN_INSERTION,axis=1)

df['PRCP']=df[['PRCP']].apply(PRCP_INSERTION,axis=1)

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
lr= LogisticRegression()

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X=df.drop(['RAIN','DATE'],axis=1)
y=df['RAIN']
y=y.astype('str')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50)

In [30]:
lr.fit(X_train,y_train)

LogisticRegression()

In [31]:
prediction=lr.predict(X_test)

In [32]:
from sklearn.metrics import classification_report, confusion_matrix

In [33]:
print('Confusion Matrix',confusion_matrix(y_test,prediction))
print('\n')
print('Classification Report',classification_report(y_test,prediction))

Confusion Matrix [[7305   51]
 [ 940 4480]]


Classification Report               precision    recall  f1-score   support

       False       0.89      0.99      0.94      7356
        True       0.99      0.83      0.90      5420

    accuracy                           0.92     12776
   macro avg       0.94      0.91      0.92     12776
weighted avg       0.93      0.92      0.92     12776